*{
    margin: 0;
    padding: 0;
}
.foto{
    width: 130px;
    border-radius: 130px;
}
nav a{
background-color:rgb(146, 146, 146);
font-weight: 900;
border-radius:10px ;
color:darkred;
padding:10px ;
margin:30px ;
text-decoration: none;
border: 3px solid;

}
header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(95, 95, 95);
}
.icon-acc{
    height: 100px;
    width: 100px;
    background-color: gold;
    border: 7px double darkgoldenrod;
}
.icon-acc{
justify-content: center;
display: flex;
align-items: center;

}
.account{
    display: flex;
}
ul{
    padding-left: 20px;
}
.gallery{
    padding: 50px 0;
    display: flex;
    gap: 50px;
    justify-content: center;
    flex-wrap: wrap;
}
.gallery img {
    width: 250px;
    border-radius: 10px;
    border: 3px solid black;
}
h1{
    text-align: center;
}
main{
    background-color: rgb(185, 185, 185);
}
.footer-link{
display: flex;
gap: 10px;
justify-content:center ;

}
.footer-link img{
    width: 50px;
}
.footer{
    text-align: center;
    font-weight: 900;
}
footer{
    background-color: dimgray;
    padding: 20px;
}
footer div{
    align-items: center;
}
p{
    padding: 20px;
}
