
header img{
    width: 100px;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 20px
}
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
header a {
    text-decoration: none;
    color:orangered;
    margin:0 10px ;
    padding:5px 10px  ;
    background-color:black ;
    border-radius: 15px;
    transition: .5s;
}
header a:hover{
  
    color: yellow;
     background-color:grey ;
     transition: .5s;
}
.hero{
    /* position: relative; */
    /* background-size:cover ; */
    /* background-repeat: no-repeat; */
    height: 70vh;
    /* background-image: url("https://i.playground.ru/p/rsbGr8idTedp68V0VrET8w.jpeg"); */
}
.hero-bg{
        background-image: url("https://i.playground.ru/p/rsbGr8idTedp68V0VrET8w.jpeg");
    background-size:cover ;
    background-repeat: no-repeat;
    height: 100%;
    filter: brightness(0.3);
}
.hero-info{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    text-align: center;
}
.hero-info a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}
main a{
   text-decoration: none;
    color:black;
    margin:0 10px ;
    padding:5px 10px  ;
    background-color:yellow ;
    border-radius: 15px;
    transition: .5s;
}  
main a:hover{
    color: rgb(0, 0, 0);
     background-color:grey ;
     transition: .5s; 
}
.achivka{

}
.ach{
    width: max-content;
    text-align: center;
    text-decoration: none;
    color:orangered;
    padding:0 10px  ;
    background-color:black ;
    border-radius: 15px;
    transition: .5s;
    display: block;
    margin:  10px auto;
}
.all-archive div{
    display: flex;
}
.all-archive div h3{
    width: 100%;
}
.all-archive-info{
    display: flex;
    flex-direction: column;
}
.all-archive-single{
    box-shadow: 0px 1px 40px black;
    margin: 50px 20px;
    border-radius: 10px;
            transition: 0.5s;
           

}
.all-archive-single:hover{
    background-color: gray;
    color: white;
        box-shadow: 0px 25px 40px black;
        transition: 0.5s;

}
br{
    margin-top:20px;
    font-size: larger ;
}
.h1{

margin-top: 20px;
}
footer h2{
    text-align: center;
    width: max-content;
    text-decoration: none;
    color:orangered;
    padding:0 10px  ;
    background-color:rgb(255, 255, 255) ;
    border-radius: 15px;
    transition: .5s;
    display: block;
    margin:  10px auto;
}
footer h3{
    text-align: center;
    color:orangered ; 
    width: max-content;
    text-decoration: none;
    padding:0 10px  ;
    background-color:rgb(255, 255, 255) ;
    border-radius: 15px;
    transition: .5s;
    display: block;
    margin:  10px auto;
}

footer{
    padding:10px ;
    background-color: black;
}
footer h2:hover{
    color: rgb(255, 255, 255);
     background-color:grey ;
     transition: .5s;
}
footer h3:hover{
     color: rgb(255, 255, 255);
     background-color:grey ;
     transition: .5s; 
}
.bbn{
    padding: 10px;
}
.text{
    background-color: white;
    padding: 10px;
    text-align: center;
    font-size: larger;
}
